<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lords of Cyberspace 2.13 Login</title>
    <meta name="description" content="Lords of Cyberspace login">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
    
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/public/client.js"></script>
  </head>
  <body>
    <header>
      <h1>
        Lords of Cyberspace 2.13
      </h1>
    </header>
    
    <div id="stats">
      <div id="users_on">
      </div>
    </div>
    <div id="login_form">
      <h2>
        Login
      </h2>
      <div id="login_error">
        
      </div>
      <div>
        <label>Username:</label>
        <input type="text" name="username" id="username" size="20" onkeyup="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '')" />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" id="password" size="20"/>
      </div>
      <div >
        <button onclick="login(); return false">Login / Create</button>
      </div>
    </div>
    
    <div id="terminal">
      
    </div>
    
    <div id="help">
      Read the <tt><a href="https://cdn.glitch.com/a2791b88-a5cb-4240-8c46-e9b4e8126e62%2Fgeneral.txt?v=1562035571164">general.txt</a></tt>
      help file here.
    </div>
    
    <div id="warning">
      <blockquote>
        <p>
          Warning: I'm sure lots of things are broken.
        </p>

        <p>
          This is ridiculously alpha quality software here. Have fun.          
        </p>
        
        <p>
          Your data is <strong>probably</strong> saved, but we may have to reset all the data periodically to deal with issues (like the above invisible systems).
        </p>
      </blockquote>
    </div>
    
  
    <footer>
      <div id="disclaimer">
        <p>
          Port to Glitch by <a href="https://twitter.com/chris_swenson">swenson</a>.
        </p>

        <p>
          Original Lords of Cyberspace C code base was written by elfstone (Mark Peterson).
        </p>

        <p>
          Based on Lords of Cyberspace 2.12, copyright ??? (I have tried to contact the last known copyright holders and could not find them).
        </p>
      </div>

      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
