/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

#login_error {
  color: red;
  font-weight: bold;
}
@font-face {
  font-family: "Px437 IBM VGA9";
  src: url(https://cdn.glitch.com/a2791b88-a5cb-4240-8c46-e9b4e8126e62%2FPx437_IBM_VGA9.ttf?v=1562030694314) format("truetype");
}

pre {
  background-color: black;
  color: #aaa;
  font-family: "Px437 IBM VGA9", monospace;
  line-height: 0.99em;
  font-size: 125%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  background-color: black;
}

pre:focus {
  outline: none;
}

#warning, #help {
  margin-top: 20px;
}

#warning {
  color: #dd2222;
}

#stats {
  color: #575fff;
}

#disclaimer {
  font-size: 80%;
}

#login_error {
  color: red;
}